MATRIX_MODE=development
# development or production

DATABASE_URL=postgresql://user:password@localhost:5432/database

API_KEY=your_api_key_here
# change to your api key

LOG_LEVEL=DEBUG
# DEBUG, INFO, WARNING, ERROR or CRITICAL

ZION_ENDPOINT=http://localhost:8080/free_palestine
